*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*main div*/
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./image/background.jpg);
    background-size:cover;
    background-position: center;
}
/*nav menu design*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
/*logo design*/
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
 /*span color set for text*/
span{
    color: rgb(236, 8, 84);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
nav ul li a:hover{
    color: khaki;
    transition: .4s;
}
/*button design*/
/* subscrive button*/
.btn{
    text-decoration: none;
    background-color: darkblue;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight:bold ;
    border: 2px solid transparent;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.1);
    background-color: aliceblue;
    color: rgb(248, 1, 1);
}
/*----------------------------*/
/* body contant*/
/*form section start here*/
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    font-size: 50px;
    color: aliceblue;
}
h3{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
h4{
    color: aqua;
    font-size: 25px;
    letter-spacing: 2px;
}
/*form design*/
.news form{
    width: 380px;
    max-width: 100%;
    position: relative;

}
.news form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 12px 15px;
    border-radius: 30px;
    outline: none;
    border: 2px solid firebrick;
}
.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: rgba(137, 43, 226, 0.082);
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    box-shadow: 10px 5px 20px gray;
    top: 6px;
    right: 6px;
}
.news form input:last-child:hover{
    background-color: rgb(2, 43, 43);
    color:hotpink;
}
/*form and text section end*/
/*-----------------------*/
/*about section start here*/
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 40%;
}
.about-text{
    width: 50%;
}
.main{
    width: 90%;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: aliceblue;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #ddd;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #ddd;
    font-size: 20px;
    text-transform: capitalize;
    text-align: justify;
    margin-bottom: 45px;
    line-height: 28px;
    letter-spacing: 1px;
}
/*about and text section end*/
/*--------------------------------------------------*/
/*all button design start here*/
button{
    background-color:rgb(236, 8, 84);
    outline: none;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #ddd;
    transition: 1s;
}
button:hover{
    background-color: aquamarine;
    color: #000;
}
/*button  section  end here*/
/*------------------------------*/
/*service section start*/
.service{
    background-color: #000;
    padding:40px;
}
.row{
    display: flex;
    margin-top: 5%;
}
.col{
    width: 33%;
    margin-left: 2%;
    margin-right:2%;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 20px;
}
.read-btn{
   margin-top: 10px;
   margin-left: 20%;
}
.col h5{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    color: orange;
}
.col p{
    margin-top: 30px;
    margin-bottom: 30px;
    color:white;
    font-size: 20px;
    text-align: justify;
}
/*service section end here */
/*---------------------------*/
/*hire me section start here*/
.hire{
    background-color: rgb(14, 12, 12);
    padding: 100px;
}
.hire-me{
    align-items: center;
    text-align: center;
    margin-top: 25px;
   
}
.hire-me a{
    text-decoration: none;
    background-color: rgb(231, 9, 46);
    padding: 10px 30px;
    border-radius: 12px;
    color: #ddd;
    transition: 1s;
}
.hire-me a:hover{
    background-color: darkorchid;
}
h5{   
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 30px;
    color: palevioletred;
}
/*hire me section end here*/
/*---------------------------------------*/
/*footer section start*/
.share{
    background-color: rgba(5, 5, 4, 0.918);
    padding: 100px;
    text-align: center;
}
.social i{
    padding: 10px 20px;
    font-size: 25px;
    margin-left: 5px;
    background-color: aqua;
    border-radius: 30%;
    transition: 2s;

}
.social i:hover{
    background-color: red;
    color: #ddd;
}
/*footer section end*/