*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

/*main div*/
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(./image/background.jpg);
    background-size:cover;
    background-position: center;
}
/*nav menu design*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
/*logo design*/
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: rgb(236, 8, 84);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
}
nav ul li a:hover{
    color: khaki;
    transition: .4s;
}
/*button design*/
.btn{
    text-decoration: none;
    background-color: darkblue;
    color: aliceblue;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight:bold ;
    border: 2px solid transparent;
    transition: transform .4s;

}
.btn:hover{
    transform: scale(1.1);
    background-color: aliceblue;
    color: rgb(248, 1, 1);
}
/*----------------------------*/
/* body contant*/
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    font-size: 50px;
    color: aliceblue;
}
h3{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
h4{
    color: aqua;
    font-size: 25px;
    letter-spacing: 2px;
}
/*form design*/
.news form{
    width: 380px;
    max-width: 100%;
    position: relative;

}
.news form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 12px 15px;
    border-radius: 30px;
    outline: none;
    border: 2px solid firebrick;
}
.news form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: rgba(137, 43, 226, 0.082);
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    box-shadow: 10px 5px 20px gray;
    top: 6px;
    right: 6px;
}
.news form input:last-child:hover{
    background-color: rgb(2, 43, 43);
    color:hotpink;
}
/*social site design
.share{
    position: absolute;
    top: 90%;
    left: 8%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

}
.share p{
    font-size: 17px;
    margin-right: 60px;
    color:palevioletred ;
}
.share .social a{
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    transition: transform 0.4s;
}
.share .social a:hover{
    transform: scale(1.5);
}*/
/*-----------------------*/
/*anbout section*/
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;

}
.main{
    width: 1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: aliceblue;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: #ddd;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text p{
    color: #ddd;
    font-size: 20px;
    text-transform: capitalize;
    text-align: justify;
    margin-bottom: 45px;
    line-height: 28px;
    letter-spacing: 1px;
}
button{
    background-color:rgb(236, 8, 84);
    outline: none;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #ddd;
    transition: 1s;
}
button:hover{
    background-color: aquamarine;
    color: #000;
}